<!-- Bootstrap -->
<script src="vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- DateJS -->
<script src="vendors/DateJS/build/date.js"></script>

<!-- Custom Theme Scripts -->
<script src="assets/js/custom.min.js"></script>
<!-- Carousel -->
<script src="assets/js/lightslider.js"></script>
<script src="assets/js/slider.js"> </script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
</script>
<script src="assets/js/slider2.js"></script>

<!-- click -->
<script src="assets/js/detailClick.js"></script>