body {
  max-height: 500px;
}

.nav_title a span{
  font-size: 20px;
}

.history h1{
  padding-top: 70px;
}

@media only screen and (max-width: 425px) {
  .history h1{
    font-size: 32px;
  }
}

@media only screen and (max-width: 320px) {
  .history h1{
    font-size: 26px;
  }
}