@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  max-height: 500px;
}

.nav_title a span{
  font-size: 20px;
}

.history h3{
  padding-top: 70px;
}

.modal{
  z-index: 9999;
}

footer {
  margin-top: 50px;
}


@media only screen and (max-width: 425px) {
  .history h1{
    font-size: 32px;
  }
}

@media only screen and (max-width: 320px) {
  .history h1{
    font-size: 26px;
  }
}